<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- TO ADD: <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <!-- <script src="main.js"></script> -->

    <title>Happy Math</title>
    <!--font family-->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="style2.css">    
    <link rel="stylesheet" href="media-query.css">


    <script src="choosingTask.js" async></script>

    <!-- To deal with notification: Refused to load the font 'data:font/woff…'
    it violates the following Content Security Policy directive: “default-src 'self'”. Note that 'font-src' 
    <meta http-equiv="Content-Security-Policy" content="font-src 'self' data:; img-src 'self' data:; default-src 'self' http://121.0.0:3000/">
    -->
</head>


<body>
    <div id="main-container">

        <!-- ELEMENT 1 - Navigation Panel + The Message Box/ Header -->
        <nav id="nav-top">
            <!--<div class="nav-button" id="nav-home">
                <a href="/">Home</a>
            </div>-->

            <div class="button-choose" id="nav-logout">
                <h2 class="txt">
                    <a href="/auth/logout">
                        LOG<br/>OUT
                    </a>
                </h2>
            </div>

            <div class="button-choose" id="new-game" onmousedown="taskPlus(this)"> <!-- LATER CHANGE TO THE FUNCTION orderNewGame -->
                <h2 class="txt">
                    NEW<br />TASK
                </h2>  
            </div>
        
            <div class="button-choose txt" id="nav-profile">
                Profile
            </div>
        </nav>
        
        <div id="title">
            <div id="dynamic-title">
                Let's Play
            </div>
            
        </div>
        
        <div id='choose-task'>
            <div class="button-choose" id="plus" value="plus" onmousedown="taskPlus(this)">
                NEW<br/>TASK
            </div>
            <div class="button-choose" id="minus" value="minus" onmousedown="taskMinus(this)">
                SUBTRACTION</div>
            <div class="button-choose" id="multiply" value="multiply" onmousedown="loadTaskMulty(this)">
                MULTIPLICATION</div>
            <div class="button-choose" id="division" value="division" onmousedown="loadTaskDiv(this)">
                DIVISION</div>
        </div>
        
                
        <!-- ELEMENT 2 - The Task -->
        <div id="task-container" class="grid-container">

            <!-- CHILD 1 -->
            <!-- <div id="decimal-line" class="grid-item"> -->
                <div id="decimal4" class="grid-item">1</div>
                <div id="decimal3" class="grid-item">1</div>
                <div id="decimal2" class="grid-item">1</div>
                <div id="decimal1" class="grid-item">1</div>
            <!-- </div> -->

            <!-- CHILD 2 -->
            <!-- <div class="number" id="number1"> -->
                <div class="number grid-item" id="num11"></div>
                <div class="number grid-item" id="num12"></div>
                <div class="number grid-item" id="num13"></div>
            <!--</div> -->

            <!-- CHILD 3 -->
            <!-- <div class="number" id="number2"> -->
                <div class="number grid-item" id="sign1">+</div>
                <div class="number grid-item" id="num21"></div>
                <div class="number grid-item" id="num22"></div>
                <div class="number grid-item" id="num23"></div>
            <!-- </div> -->

            <!-- CHILD 4 -->
            <div class="number grid-item" id="line"></div>
            
            <!-- CHILD 5 -->
            <!-- <div class="number" id="results"> -->
                <div class="answer grid-item" id="results1"></div>
                <div class="answer grid-item" id="results2"></div>
                <div class="answer grid-item" id="results3"></div>
                <div class="answer grid-item" id="results4"></div>
            <!-- </div> -->
               
        </div>
        
        <!-- ELEMENT 3 - The Step Container -->
        <form id="step-container">
            <div class="digit" id="decimal-step">1</div>

            <div class="digit" id="sign3"></div>

            <div class="digit" id="digit1"></div>
        
            <div class="digit" id="sign2"></div>
        
            <div class="digit" id="digit2"></div>
        
            <div class="digit" id="sign-equal">
                =
            </div>
        
            <div>
                <input class="digit" id="user-answer" type="number" pattern="[0-9]*" value="" size="2" maxlength="2">
            </div>
        
            <div type="submit" class="button-choose" id="submit-answer" onclick="evaluateInput()">
                <h2 class="txt">
                    SEND
                </h2>
            </div>
        </form>

        <!-- Press 'submit-answer' when ENTER is pressed - DOESN'T WORK -->
        <script>  // DOESN'T WORK
            var input = document.getElementById("user-answer");
            input.addEventListener("keyup", function (event) {
                event.preventDefault();
                if (event.keyCode === 13) {
                    document.getElementById("submit-answer").click();
                }
            });
        </script>
               
        <!-- ELEMENT 4 - Keyboard with Numbers Only -->
        <div id="keyboard-container">
            <table id="keyboard-table">
                <tr>
                    <td id="1" onclick="keyInput(this.id)">1</td>
                    <td id="2" onclick="keyInput(this.id)">2</td>
                    <td id="3" onclick="keyInput(this.id)">3</td>
                </tr>

                <tr>
                    <td id="4" onclick="keyInput(this.id)">4</td>
                    <td id="5" onclick="keyInput(this.id)">5</td>
                    <td id="6" onclick="keyInput(this.id)">6</td>
                </tr>


                <tr>
                    <td id="7" onclick="keyInput(this.id)">7</td>
                    <td id="8" onclick="keyInput(this.id)">8</td>
                    <td id="9" onclick="keyInput(this.id)">9</td>
                </tr>
                
                <tr>
                    <td id="help" onclick="keyHelp(this.id)"></td>
                    <td id="0" onclick="keyInput(this.id)">0</td>
                    <td id="erase" onclick="keyDelete(this.id)">delete</td>
                </tr>

            </table>
        </div>
    </div>

    <script>
        function keyInput(id) {
            var currentContent = document.getElementById("user-answer").value; 

            var userInput = document.getElementById(id).textContent; 
            

            userInput = currentContent + userInput;
            console.log(userInput)

            //inputLength = userInput.length;
            //console.log('current input is ' + inputLength)

            if (userInput.length > 2) {
                console.log('two digit max')
            } else {
                // presenting the key at the input window
                document.getElementById("user-answer").value = userInput;
            }
        }

        function keyDelete(id) {
            var currentContent = document.getElementById("user-answer").value; 
            console.log(currentContent)

            // erase only last digit:
            currentContent = currentContent.slice(0, -1);
            // presenting the key at the input window
            document.getElementById("user-answer").value = currentContent;
        }

        function keyHelp(id) {
            console.log('help')
        }


    </script>

    
</body>

</html>