<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <!-- <script src="main.js"></script> -->

    <title>Happy Math</title>
    <!--font family-->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="style1.css">
</head>


<body>
    <nav id="nav_top">
        <div class="nav_home">
            <a href="/">Home</a>
        </div>

        <div class="nav_logout">
            <a href="/auth/logout">Logout</a>
        </div>

        <div class="nav_profile">
          Profile
        </div>
    </nav>

    
    <header>
        <h1 id="title1">Happy Math</h1>
    </header>

    <div id='choose-task'>
        <div class="buttons_signup" id="plus" value="plus">PLUS</div>
        <div class="buttons_signup" id="minus" value="minus">MINUS</div>
        <div class="buttons_signup" id="multiply" value="multiply">MULTIPLY</div>
        <div class="buttons_signup" id="division" value="division">DIVISION</div>
    </div>

    <div id="task-win">
        <p id="json"></p>
    </div>

    <footer>
        <nav id="nav_bottom">
            <div class="nav_home">
                <a href="/">Home</a>
            </div>
    
            <div class="nav_logout">
                <a href="/auth/logout">Logout</a>
            </div>
    
            <div class="nav_profile">
                Profile
            </div>
        </nav>
    </footer>
</body>

<script>
    $('#plus').on('click',function(){
        $.ajax({
            type: "GET",
            dataType: 'json',
            url: "./game-math1/targil/plus",
            data: { 
                id: "somedata"
            },
            success: function(result) {
                $('#json').html( '<pre>' + JSON.stringify(result,null,2) + '</pre>');
            },
            error: function(result) {
                alert('error');
            }
        }); 
    });
</script>

<script>
    $('#division').on('click',function(){
        $.ajax({
            type: "GET",
            dataType: 'json',
            url: "./game-math1/targil/division",
            data: { 
                id: "somedata"
            },
            success: function(result) {
                $('#json').html( '<pre>' + JSON.stringify(result,null,2) + '</pre>');
            },
            error: function(result) {
                $('#json').html( '<pre>' + JSON.stringify(result,null,2) + '</pre>');
            }
        }); 
    });
</script>

<script>
    $('#minus').on('click',function(){
        $.ajax({
            type: "GET",
            dataType: 'json',
            url: "./game-math1/targil/minus",
            data: { 
                id: "somedata"
            },
            success: function(result) {
                $('#json').html( '<pre>' + JSON.stringify(result,null,2) + '</pre>');
            },
            error: function(result) {
                $('#json').html( '<pre>' + JSON.stringify(result,null,2) + '</pre>');
            }
        }); 
    });
</script>

<script>
    $('#multiply').on('click',function(){
        $.ajax({
            type: "GET",
            dataType: 'json',
            url: "./game-math1/targil/multiply",
            data: { 
                id: "somedata"
            },
            success: function(result) {
                $('#json').html( '<pre>' + JSON.stringify(result,null,2) + '</pre>');
            },
            error: function(result) {
                $('#json').html( '<pre>' + JSON.stringify(result,null,2) + '</pre>');
            }
        }); 
    });
</script>




</html>