<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <!-- <script src="main.js"></script> -->
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </nav> 
    <header>
        <h1>This is the game!!!</h1>
    </header>   
    <main>
        <button id="plus" value="plus">PLUS</button>
        <button id="minus" value="minus">MINUS</button>
        <button id="multiply" value="multiply">MULTIPLY</button>
        <button id="division" value="division">DIVISION</button>
        <p id="json"></p>
    </main>
</body>

<script>
    $('#plus').on('click',function(){
        $.ajax({
            type: "GET",
            dataType: 'json',
            url: "./game-math1/targil/plus",
            data: { 
                id: "somedata"
            },
            success: function(result) {
                $('#json').html( '<pre>' + JSON.stringify(result,null,2) + '</pre>');
            },
            error: function(result) {
                alert('error');
            }
        }); 
    });
</script>

<script>
    $('#division').on('click',function(){
        $.ajax({
            type: "GET",
            dataType: 'json',
            url: "./game-math1/targil/division",
            data: { 
                id: "somedata"
            },
            success: function(result) {
                $('#json').html( '<pre>' + JSON.stringify(result,null,2) + '</pre>');
            },
            error: function(result) {
                $('#json').html( '<pre>' + JSON.stringify(result,null,2) + '</pre>');
            }
        }); 
    });
</script>

<script>
    $('#minus').on('click',function(){
        $.ajax({
            type: "GET",
            dataType: 'json',
            url: "./game-math1/targil/minus",
            data: { 
                id: "somedata"
            },
            success: function(result) {
                $('#json').html( '<pre>' + JSON.stringify(result,null,2) + '</pre>');
            },
            error: function(result) {
                $('#json').html( '<pre>' + JSON.stringify(result,null,2) + '</pre>');
            }
        }); 
    });
</script>

<script>
    $('#multiply').on('click',function(){
        $.ajax({
            type: "GET",
            dataType: 'json',
            url: "./game-math1/targil/multiply",
            data: { 
                id: "somedata"
            },
            success: function(result) {
                $('#json').html( '<pre>' + JSON.stringify(result,null,2) + '</pre>');
            },
            error: function(result) {
                $('#json').html( '<pre>' + JSON.stringify(result,null,2) + '</pre>');
            }
        }); 
    });
</script>




</html>