<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Happy Math</title>
    <!--font family-->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="style1.css">
</head>

<body>
    <nav id="nav-top">
        <div class="nav-home">
            Home
        </div>

        <div class="nav-logout">
            <a href="/auth/logout">Logout</a>
        </div>

        <div class="nav-profile">
            Profile
        </div>
    </nav>

    <header>
        <h1 id="main-title">
            Happy Math
        </h1>
    </header>

    <div id="signup-container">
        <% if (user) {%>
            <!-- If user, automatically redirect to the 'game-math' page: -->
            <meta http-equiv="refresh" content="0; url='/game-math1'">
        
        <% } else  { %> 
        <div class="button-signup" id="fb" onmousedown="func_buttondown(this)" onmouseup="func_buttonup(this)">
            <a class="facebook-btn" href="/auth/facebook">SIGN UP WITH FACEBOOK</a>
        </div>
        
        <div class="button-signup" id="google" onmousedown="func_buttondown(this)" onmouseup="func_buttonup(this)">
            <a class="google-btn" href="/auth/google">SIGN UP WITH GOOGLE+</a>
        </div>
        
        <div class="button-signup" id="guest" onmousedown="func_buttondown(this)" onmouseup="func_buttonup(this)">
            <a class="passport-local-btn" href="/login/">BE OUR GUEST</a>
        </div>
        <!-- this is a form to make a post -->
        <form class="button-signup"  method="POST", action="/auth/passport-local/">  
            <input type="hidden" name="username" value="guest@guest.com">
            <input type="hidden" name="password" value="guest">
            <input type ="submit" value = "BE OUR GUEST" />
        </form>

        <% } %>
    </div>
   
    <footer>
        <nav id="nav-bottom">
            <div class="nav-home">
                Home
            </div>

            <div class="nav-logout">
                <a href="/auth/logout">Logout</a>
            </div>

            <div class="nav-profile">
                Profile
            </div>
        </nav>
    </footer>
</body>

<!--JS-->
<noscript>None: JS is turned off in the Browser. For proper use of the page please turn JS on.</noscript>

<script>
    function func_buttondown(id) {
        // document.getElementById("signup-container").style.display = "flex";
        id.style.boxShadow = "none";
        id.style.fontWeight = "bold"; 
    }

    function func_buttonup(id) {
        id.style.boxShadow = "4px 4px 8px rgb(190, 190, 190)";
        id.style.fontWeight = "normal"; 
    }

</script>


</html>