/*--------------------MEDIA QUERY--------------------*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #nav-top div {
        font-size: 0.8em; 
    }

    #dynamic-title {
        font-size: 1em; 
    }
    
    .button-choose{
        font-size: 1em; 
    }

    h1{
        font-size: 1em; 
    }

    #choose-task{
        top: 20%; 
        flex-direction: column;
    }

    #task-container{
        position: fixed;
        top: 12%;
        font-size: 1.5em;
        grid-template-columns: 20px 20px 20px 20px;  /*defines the number of columns in your grid layout, 
        and it can define the width of each column.*/
    }

    #decimal-line {
        font-size: 0.8em; 
    }

    #step-container{
        position: fixed;
        top: 47%; 
    }

    .digit {
        font-size: 1.5em;
    }

    #keyboard-table td {
        font-size: 2em; 
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

} 



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .button-choose{
        font-size: 2em; 
    }

    h1{
        font-size: 2.5em; 

    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}