/*GENERAL*/
html{
    font-family: 'Indie Flower', cursive;
}

body{
    margin:0; 
}

/*no underline for links*/
a{
    text-decoration: none; 
}
/*---------------------------------------------------------------*/

/*------------- THE MAIN CONTAINER --------------*/
#main-container{
    position: fixed; 
    top: 0; 
    bottom: 0;
    left: 0; 
    right: 0;

    width: 100%;
    height: 100%; 

    margin: 0; 
    border: red 5px; /* WHY DOESN'T IT WORK???*/


    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;   /*main axis*/
    align-items: center; 
    align-content: space-around;   /*secondary (cross) axis*/

    z-index: -10; 
}


/*-------------TOP NAVIGATION AND THE HEADER PANELS--------------*/
#nav-top{   /*Parent element*/
    position: fixed; 
    top: 0; 
    width: 100%; 
    height: 8%;
    border-radius: 5px; 

    /*setting flex container properties*/
    display: flex;
    flex-direction: row-reverse; 
    justify-content: space-between;
    border: 1px solid cornflowerblue;
}

#nav-top div{
    border: 1px solid yellow;
    border-radius: 5px; 
    color: rgb(26, 29, 34);
    margin: 7px; 
}

/*hover - mouse over button */
#nav-top div a:hover{
    cursor: pointer;
    color: #FF00FF;
}
#nav-top div:hover{
    cursor: pointer;
    color: #FF00FF;
}

#new-game{
    display: none; 
}

#nav-profile{
    display: none; 
}

#nav-nome{
    display: none; 
}

/*HEADER AND TITLE*/
#title{
    position: fixed; 
    top: 0; 
    width: 60%; 

    height: 8%;  /* same height as the navigation element */
    border-radius: 5px; 

    background-color: white;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*effect that creates paper-like cards*/ 
    border: 1px solid yellow;

    display: flex; 
    justify-content: center; 
    align-items: center; 

    z-index: 5;
}

#dynamic-title{
    text-align: center;
    text-shadow: 2px 2px rgb(228, 228, 228);
    letter-spacing: 2px;
    color: cornflowerblue;
    font-weight: bold; 
}

#dynamic-title:hover{
    text-shadow: 2px 2px yellow;
}
/*--------------------------------------------------------------------*/


/*--------------SIGHNUP WINDOW AND ITS BUTTONS------------------------*/
/*SIGNIN WINDOW*/
#signup-container{
    display: flex; /*or none*/
    flex-direction: column;
    justify-content: space-around; /*distributes items eventually within the flex container*/
    align-items: stretch;  /*items occupy the entire space of the container*/

    position: fixed;
    top:35%; 
    left: 18%; 
    right: 18%;
    text-align: center;
    border: 1px solid rgb(220, 220, 220);
    min-width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 200px 0 rgba(0, 0, 0, 0.19); /*effect that creates paper-like cards*/ 
}

.button-signup{
    border: 1px solid cornflowerblue; 
    color: rgb(26, 29, 34);
    margin: 5px; 
    min-width: 150px;
    min-height: 40px; 
    font-size: 1.2em; 
    border-radius: 10px; 
    box-shadow: 4px 4px 8px rgb(190, 190, 190);
        align-content: center;  /*This aligns a flex container's lines within when there is extra space in the cross-axis*/
}

/*mouse over buttons */
.button-signup:hover{
    cursor: pointer;
    color: #FF00FF;
    box-shadow: none; 
}

/*mouse over buttons */
.button-signup a:hover{
    cursor: pointer;
    color: #FF00FF;
    box-shadow: none; 
}

#fb {
    display: none; 
}
/*---------------------------------------------------------*/


/*---------WINDOW FOR CHOOSING AN ASSIGNMENT TYPE---------*/
/*---------CHOOSE-TASK---------*/
#choose-task{
    display: flex;
    flex-flow: row unwrap; 
    justify-content: space-evenly; /*distributes items eventually within the flex container*/
    align-items: flex-end;  /*items occupy the entire space of the container*/
    align-content: center;  /*This aligns a flex container's lines within when there is extra space in the cross-axis*/

    position: fixed;
    top:20%; 
    left: 40%;
    transform: translate(-50%, -50%);
    
    margin: 10%; 

    text-align: center; 
}

.button-choose{
    border: 1px solid cornflowerblue; 
    color: rgb(26, 29, 34);
    margin: 5px; 
    min-width: 100px;
    min-height: 20px; 
    font-size: 1.2em; 
    border-radius: 10px; 
    box-shadow: 4px 4px 8px rgb(190, 190, 190);
    text-align: center; 
}

/*mouse over buttons */
.button-choose:hover{
    cursor: pointer;
    color: #FF00FF;
    box-shadow: none; 
}

/*---------------------------------------------------------*/


/*----------------- AN ASSIGNMENT WINDOW-------------------*/
/*---------TASK-CONTAINER---------*/
#task-container{
    display: none;  /* flex or none*/
    flex-direction: column;  /*column or row*/
    justify-content: flex-end; /*distributes items eventually within the flex container*/
    align-items: center;  /*items occupy the entire space of the container*/

    text-align: center;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 200px 0 rgba(0, 0, 0, 0.19); /*effect that creates paper-like cards*/

    font-style: italic;
    color: cornflowerblue;
}

.number{
    align-self: flex-end; 
    margin: 1px; 
    color: cornflowerblue; 
    letter-spacing: 5px;
}

#decimal-line{
    display: flex; 
    flex-direction: row;

    justify-content: flex-start;
    align-items: flex-start; 
    
    letter-spacing: 5px;
    color: rgba(128, 128, 128, 0.678); 
}

#decimal-line div, #number1 div, #number2 div {
    border: 1px solid yellow;    
}

#number1, #number2 { 
    display: flex; 
    flex-direction: row; 
    justify-content: flex-end; 
    align-items: flex-end; 
}

#sign1, #num11, #num12, #num13, #num14, #num21, #num22, #num23, #num24 {
    display: inline; /*inline*/
    border: 1px solid yellow;    
}

#sign1 {
    align-self: flex-end; 
    font-size: 1em; 
}

#line {
    height: 1px; 
    box-sizing: border-box;
    width: 100%; 
    border: 2px solid rgba(128, 128, 128, 0.678); 
    border-radius: 2px;   
}

#results {
    align-self: flex-end; 
    display: flex; 
}

#results div {
    padding: 3px; 
}

#results1, results2, results3, results4 {
    display: none; /*inline*/
}

/*---------------------------------------------------------*/



/*---------- WINDOW OF STEPS - INTERACTION WITH A USER -------------*/
#step-container{
    display: none;  /*or none*/
    flex-direction: row;
    justify-content: space-around; /*distributes items eventually within the flex container*/
    align-items: stretch;  /*items occupy the entire space of the container*/

    position: fixed;
    top:75%; 
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%); 
    text-align: center;
    border: 1px solid rgb(220, 220, 220);
    min-width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 200px 0 rgba(0, 0, 0, 0.19); /*effect that creates paper-like cards*/

    font-size: 2em;
}

.digit{
    margin: 3px;
}

#user-answer{
    border-radius: 5px;    
}

#submit-answer {
    font-size: 1em; 
    border-radius: 50px; 
}

#decimal-step {
    display: none; 
}
/*--------------------------------------------------------------*/


/*---------------------------FORM------------------------------*/
#form-container{
    display: none;  /*or none*/
    flex-direction: row;
    justify-content: space-around; /*distributes items eventually within the flex container*/
    align-items: stretch;  /*items occupy the entire space of the container*/

    position: fixed;
    top:40%; 
    left: 40%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%); 
    text-align: center;
    border: 1px solid rgb(220, 220, 220);
    min-width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 200px 0 rgba(0, 0, 0, 0.19); /*effect that creates paper-like cards*/

    font-size: 1em;
}








 /*---------------------------FOOTER----------------------------*/
nav{    /*Parent element*/
    /*setting flex container properties*/
    display: none; 
    flex-flow: row wrap;
    justify-content: space-around; 
    border: 1px solid cornflowerblue;
    background-color: white;
    position: fixed; 
    left: 0;
    right: 0;
    bottom: 0; 
    border-radius: 5px; 
}

#nav-bottom div{    /*Child element*/
    border: 1px solid yellow;
    border-radius: 5px; 
    color: rgb(26, 29, 34);
    margin:5px; 
    padding:0;
}

/*mouse over button */
#nav-bottom div a:hover{
    cursor: pointer;
    color: #FF00FF;
}

