/*GENERAL*/
html{
    font-family: 'Indie Flower', cursive;
}

body{
    margin:0; 
}

/*no underline for links*/
a{
    text-decoration: none; 
}

input, select, textarea, button{font-family:inherit;}
/*---------------------------------------------------------------*/

/*------------- THE MAIN CONTAINER --------------*/
#main-container{
    position: fixed; 
    top: 0; 
    bottom: 0;
    left: 0; 
    right: 0;

    width: 100%;
    height: 100%; 

    margin: 0; 
    border: red 5px; /* WHY DOESN'T IT WORK???*/


    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;   /*main axis*/
    align-items: center; 
    align-content: space-around;   /*secondary (cross) axis*/

    z-index: -10; 
}


/*-------------TOP NAVIGATION AND THE HEADER PANELS--------------*/
#nav-top{   /*Parent element*/
    position: fixed; 
    top: 0; 
    width: 100%; 
    height: 10%;

    /*setting flex container properties*/
    display: flex;
    flex-direction: row-reverse; 
    justify-content: space-between;
    border: 1px solid yellow;
    background-color: rgba(173, 216, 230, 0.39); 
}

#nav-top div{
    border-radius: 5px; 
    color: rgb(26, 29, 34);
    background-color: white; 
    margin: 2px; 
    padding: 2px; 
}

/*hover - mouse over button */
#nav-top div a:hover{
    cursor: pointer;
    color: #FF00FF;
}
#nav-top div:hover{
    cursor: pointer;
    color: #FF00FF;
}

#new-game{
    display: none; 
}

#nav-profile{
    display: none; 
}

#nav-nome{
    display: none; 
}

/*HEADER AND TITLE*/
#title{
    position: fixed; 
    top: 0; 
    width: 60%; 

    height: 10%;  /* same height as the navigation element */
    border-radius: 5px; 

    background-color: white;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*effect that creates paper-like cards*/ 
    border: 1px solid yellow;

    display: flex; 
    justify-content: center; 
    align-items: center; 

    z-index: 5;
}

#dynamic-title{
    text-align: center;
    text-shadow: 2px 2px rgb(228, 228, 228);
    letter-spacing: 2px;
    color: cornflowerblue;
    font-weight: bold; 
}

#dynamic-title:hover{
    text-shadow: 2px 2px yellow;
}
/*--------------------------------------------------------------------*/


/*---------WINDOW FOR CHOOSING AN ASSIGNMENT TYPE---------*/
/*---------CHOOSE-TASK---------*/
#minus, #multiply, #division {display: none;}

#choose-task{
    display: flex;
    flex-flow: row unwrap; 
    justify-content: space-evenly; /*distributes items eventually within the flex container*/
    align-items: flex-end;  /*items occupy the entire space of the container*/
    align-content: center;  /*This aligns a flex container's lines within when there is extra space in the cross-axis*/

    position: fixed;
    top:20%; 
    left: 40%;
    transform: translate(-50%, -50%);
    
    margin: 10%; 

    text-align: center; 
}

.button-choose{
    border: 1px solid cornflowerblue; 
    color: rgb(26, 29, 34);
    margin: 5px; 
    min-width: 100px;
    min-height: 20px; 
    font-size: 1.2em; 
    border-radius: 10px; 
    box-shadow: 4px 4px 8px rgb(190, 190, 190);
    text-align: center; 
    vertical-align: middle;
}

/*mouse over buttons */
.button-choose:hover{
    cursor: pointer;
    color: #FF00FF;
    box-shadow: none; 
}

/*---------------------------------------------------------*/


/*----------------- AN ASSIGNMENT WINDOW-------------------*/
/*---------TASK-CONTAINER---------*/
.grid-container {
    display: inline-grid;
}

#task-container{
    display: none;  /* flex or none*/
    flex-direction: column;  /*column or row*/
    justify-content: space-evenly; /*distributes items eventually within the flex container || flex-end*/
    align-items: center;  /*items occupy the entire space of the container*/

    text-align: center;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 200px 0 rgba(0, 0, 0, 0.19); /*effect that creates paper-like cards*/

    font-style: italic;
    color: cornflowerblue;

    z-index: 10;  /*TEMP*/
    grid-template-rows: auto auto auto auto;
    /*THE WIDTH AND THE NUMBER OF COLUMNS IS DEFINED IN MEDIA-QUERY.CSS*/
}

.number{
    align-self: center; 
    margin: 1px; 
    color: cornflowerblue; 
    letter-spacing: 5px;
}

/* #decimal-line{
    display: flex; 
    align-self: center; 
    flex-direction: row;

    justify-content: flex-start;
    align-items: flex-start; 
    
    letter-spacing: 5px;
    color: rgba(128, 128, 128, 0.678); 
} */

#decimal1, #decimal2, #decimal3, #decimal4 {
    visibility: hidden;  /*hidden || visible*/
    align-self: center; 
}

#decimal-line div, #number1 div, #number2 div {
    border: 1px solid yellow;    
}

#decimal1 { grid-area: 1 / 4 / 2 / 5; }  /* grid-row-start, grid-column-start, grid-row-end and the grid-column-end */
#decimal2 { grid-area: 1 / 3 / 2 / 4;}
#decimal3 { grid-area: 1 / 2 / 2 / 3;}
#decimal4 { grid-area: 1 / 1 / 2 / 2;}

#num11 { grid-area: 2 / 2 / 3 / 3; align-self: center; }
#num12 { grid-area: 2 / 3 / 3 / 4; align-self: center; }
#num13 { grid-area: 2 / 4 / 3 / 5; align-self: center; }

#sign1 { grid-area: 2 / 1 / 4 / 2;  /* grid-row-start, grid-column-start, grid-row-end and the grid-column-end */
    align-self: center;}

#num21 { grid-area: 3 / 2 / 4 / 3; align-self: center; }
#num22 { grid-area: 3 / 3 / 4 / 4; align-self: center; }
#num23 { grid-area: 3 / 4 / 4 / 5; align-self: center; }
#line { grid-area: 4 / 1 / 5 / 5; align-self: center; }

#results1 { grid-area: 5 / 4 / 6 / 5; align-self: center; }  /* grid-row-start, grid-column-start, grid-row-end and the grid-column-end */
#results2 { grid-area: 5 / 3 / 6 / 4; align-self: center; }
#results3 { grid-area: 5 / 2 / 6 / 3; align-self: center; }
#results4 { grid-area: 5 / 1 / 6 / 2; align-self: center; }




#number1, #number2 { 
    display: flex; 
    flex-direction: row; 
    justify-content: center; /* flex-end; */
    /* align-items: flex-end; */
}

#sign1, #num11, #num12, #num13, #num14, #num21, #num22, #num23, #num24, #results1, #results2, #results3, #results4 {
    display: inline; /*inline*/
    border: 1px solid yellow;    
}



#sign1 {
    align-self: center; /* flex-end; */
    font-size: 1em; 
}

#line {
    height: 1px; 
    box-sizing: border-box;
    width: 100%; 
    border: 2px solid rgba(128, 128, 128, 0.678); 
    border-radius: 2px;   
}

#results {
    align-self: center; /* flex-end; */
    /* display: flex; */
}

#results div {
    padding: 3px; 
}


/*---------------------------------------------------------*/



/*---------- WINDOW OF STEPS - INTERACTION WITH A USER -------------*/
#step-container{
    display: none;  /*or flex*/
    flex-direction: row;
    justify-content: space-around; /*distributes items eventually within the flex container*/
    align-items: stretch;  /*items occupy the entire space of the container*/

    text-align: center;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 200px 0 rgba(0, 0, 0, 0.19); /*effect that creates paper-like cards*/

    vertical-align: middle;
}

.digit{
    margin: 3px;
}

#user-answer{
    border-radius: 5px; 
    width: 40px;
    text-align: center;    
}

#submit-answer {
    border-radius: 50px; 
}

#decimal-step {
    display: none; 
}
/*--------------------------------------------------------------*/


/*---------------------------FORM------------------------------*/
#form-container{
    display: none;  /*or none*/
    flex-direction: row;
    justify-content: space-around; /*distributes items eventually within the flex container*/
    align-items: stretch;  /*items occupy the entire space of the container*/

    position: fixed;
    top:40%; 
    left: 40%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%); 
    text-align: center;
    border: 1px solid rgb(220, 220, 220);
    min-width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 200px 0 rgba(0, 0, 0, 0.19); /*effect that creates paper-like cards*/

    font-size: 1em;
}





/*------------------------- KEYBOARD ----------------------*/
#keyboard-container {  
    position: fixed;
    top: 60%; 
    width: 100%;
    height: 40%;
    background-color: rgba(173, 216, 230, 0.39); 

    display: none; /*flex*/
}

#keyboard-table {
    width: 100%; 
    height: 100%;
    border-spacing: 2px;
    empty-cells: show; 
    table-layout: fixed;
}

#keyboard-table td {
    border: 1px solid #ddd;
    border-radius: 5px; 
    text-align: center; 
    vertical-align: middle;
    background-color: white;  
}

#keyboard-table td:hover {
    background-color: grey;
}

